[Unit]
Description=Telegram bot 'roter'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/roter
ExecStart=/usr/bin/python3 /home/roter/roter.py

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
